
@{
    ViewBag.Title = "Anasayfa";
}
@using FilmDukkaniProje.Models
<div class="block highlight-color-red">
    <div class="block-heading">
        <div class="main-text h2">
            Yüzüklerin Efendisi-Yüzük Kardeşliği
        </div>
        <div class="block-controls">
        
            <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
        </div>
    </div>
    <div class="block-content-outer">
        <div class="block-content-inner">
            <ul id="left-tabs-alt-1" class="nav nav-tabs tabs-left tabs-alt-1 highlight-color-red">
                <div>
                    <img src="~/image/27070.jpg" />
                </div>
                
               
                
            </ul>
            <div class="tab-content">
                <div id="left-tabs-home-alt-1" class="tab-pane active">
                    <p>
                        Yüzüklerin Efendisi: Yüzük Kardeşliği (İngilizce: The Lord of the Rings: The Fellowship of the Ring), Peter Jackson'ın yönettiği Yüzüklerin Efendisi üçlemesinin birinci filmidir ve 2001 yılında gösterime girmiştir.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block highlight-color-red">
    <div class="block-heading">
        <div class="main-text h2">
            Yüzüklerin Efendisi-İki Kule
        </div>
        <div class="block-controls">
            <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
        </div>
    </div>
    <div class="block-content-outer">
        <div class="block-content-inner">
            <ul id="left-tabs-alt-1" class="nav nav-tabs tabs-left tabs-alt-1 highlight-color-red">
                <img src="~/image/39186.jpg" />
            </ul>
            <div class="tab-content">
                <div id="left-tabs-home-alt-1" class="tab-pane active">
                    <p>
                        Yüzüklerin Efendisi: İki Kule (İngilizce: The Lord of the Rings: The Two Towers), J. R. R. Tolkien'nin İki Kule adlı kitabından uyarlanmış ve Peter Jackson tarafından yönetilmiş 2002 yılında gösterime giren fantezi filmidir.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block highlight-color-red">
    <div class="block-heading">
        <div class="main-text h2">
            Yüzüklerin Efendisi-Kralın Dönüşü
        </div>
        <div class="block-controls">
            <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
        </div>
    </div>
    <div class="block-content-outer">
        <div class="block-content-inner">
            <ul id="left-tabs-alt-1" class="nav nav-tabs tabs-left tabs-alt-1 highlight-color-red">
                <img src="~/image/kralın dönüşü.jpg" />
            </ul>
            <div class="tab-content">
                <div id="left-tabs-home-alt-1" class="tab-pane active">
                    <p>
                        Yüzüklerin Efendisi: Kralın Dönüşü (Özgün adı: The Lord of the Rings: The Return of the King), Peter Jackson'ın yönetmenliğini yaptığı, J. R. R. Tolkien'in Yüzüklerin Efendisi kitaplarının ikinci ve üçüncü bölümlerinden uyarlanan 2003 yılında gösterime giren fantezi filmidir.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


